.card-info {
    padding: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-info .title {
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 3.704rem;
    color: #1F2E55;
}

.card-info .descr {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    margin: 1.8rem 0;
    color: #717FA6;
}

.annual-plan-container {
    background-color: #F7F9FF;
    border-radius: 1.2rem;
    padding: 2.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
}

.annual-plan-container .annual-plan-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.annual-plan-data .plan-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
}

.plan-main-info .plan-title {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 2.117rem;
    color: #1F2E55;
}

.plan-main-info .plan-price {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.117rem;
    text-align: left;
    color: #717FA6;
}

.change-button-container #change-plan-button {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.852rem;
    text-decoration: underline;
    color: #382AE1;
}

#change-plan-button:hover {
    text-decoration: none;
    color: #766CF1;
}

.payment-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
}

.payment-buttons-container #proceed-to-payment {
    background-color: #382AE1;
    box-shadow: 0rem 2rem 2rem 0rem #382AE131;
    border-radius: 1.2rem;
    padding: 1.6rem 0;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.985rem;
    color: #fff;
}

#proceed-to-payment:hover {
    background-color: #766CF1;
}

.payment-buttons-container #cancel-order {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.985rem;
    color: #717FA6;
}

#cancel-order:hover {
    color: #1F2E55;
}

@media screen and (max-width: 37.5rem) {
    .card-info {
        padding: 3.2rem;
    }

    .card-info .title {
        font-size: 2.2rem;
        line-height: 2.911rem;
    }

    .card-info .descr {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 1.6rem 0;
    }

    .annual-plan-container {
        padding: 1.6rem;
    }

    .annual-plan-container .annual-plan-data {
        gap: 1.4rem;
    }

    .annual-plan-data .plan-main-info {
        text-align: left;
        gap: 0.3rem;
    }

    .plan-main-info .plan-price,
    .plan-main-info .plan-title {
        font-size: 1.4rem;
        line-height: 1.852rem;
    }
}